.git/**
.vscode/**
.dext/**
.npmrc
src/**
test/**
scripts/**
dist/extensionHostTest.js
node_modules/**
.npm-cache/**
.tmp-tb/**
.volta/**
**/*.map
*.ts
esbuild.mjs
eslint.config.mjs
vitest.config.mjs
tsconfig.json
.gitignore
